<a href="https://colab.research.google.com/github/AgustinCocciardi/IA-Aplicada/blob/main/Encuesta_de_sueldos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.pipeline import Pipeline
from sklearn.datasets import make_classification
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import classification_report
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import accuracy_score, mean_squared_error,f1_score
from sklearn.metrics import roc_curve, auc, r2_score
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_classification
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from collections import Counter

In [ ]:
df = pd.read_csv("Sysarmy_Encuesta_salarial.csv")
df

,estoy_trabajando_en,donde_estas_trabajando,dedicacion,tipo_de_contrato,ultimo_salario_mensual_o_retiro_bruto_en_tu_moneda_local,ultimo_salario_mensual_o_retiro_neto_en_tu_moneda_local,pagos_en_dolares,si_tu_sueldo_esta_dolarizado_cual_fue_el_ultimo_valor_del_dolar_que_tomaron,pagos_en_criptomonedas,que_porcentaje_o_monto_recibis_en_criptomonedas,...,salir_o_seguir_contestando_sobre_las_guardias,tenes_guardias,cuanto_cobras_por_guardia,porcentajebruto_o_neto,salir_o_seguir_contestando_sobre_estudios,tengo_edad,me_identifico_genero,sueldo_dolarizado,seniority,me_id_extra
0,Argentina,Buenos Aires,Full-Time,Staff (planta permanente),475480.0,396346,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25,Varón Cis,False,Semi-Senior,Hombre Cis
1,Argentina,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),260000.0,220000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27,Mujer Cis,False,Junior,Mujer Cis
2,Argentina,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),106350.0,88560,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21,Varón Cis,False,Junior,Hombre Cis
3,Argentina,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),339000.0,283700,NaN,NaN,NaN,NaN,...,Terminar encuesta,No,0.0,Porcentaje de mi sueldo bruto,Responder sobre mis estudios,25,Varón Cis,False,Semi-Senior,Hombre Cis
4,Argentina,Río Negro,Full-Time,Staff (planta permanente),380000.0,320000,Mi sueldo está dolarizado (pero cobro en moned...,179,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24,Varón Cis,True,Junior,Hombre Cis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5762,Argentina,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),897000.0,540000,NaN,NaN,NaN,NaN,...,Responder sobre guardias,No,0.0,Bruto,Terminar encuesta,39,Varón Cis,False,Senior,Hombre Cis
5763,Argentina,Tucumán,Full-Time,Staff (planta permanente),130000.0,295000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,40,Varón Cis,False,Senior,Hombre Cis
5764,Argentina,Buenos Aires,Part-Time,Freelance,250000.0,250000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21,Varón Cis,False,Senior,Hombre Cis
5765,Argentina,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),230000.0,160000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,29,Varón Cis,False,Semi-Senior,Hombre Cis
5766,Argentina,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),600000.0,515000,Cobro parte del salario en dólares,NaN,NaN,NaN,...,Terminar encuesta,NaN,NaN,NaN,NaN,33,Varón Cis,False,Semi-Senior,Hombre Cis

In [ ]:
df['plataformas_que_utilizas_en_tu_puesto_actual']

0                                                  Docker
1                                                   Azure
2                                           Docker, Linux
3          Amazon Web Services, Docker, Linux, Serverless
4                                                  Docker
                              ...
5762    AIX, Azure, Linux, OpenShift, SAP, VMWare, Win...
5763            IBM Cloud / Watson, Linux, Windows Server
5764                            Ninguna de las anteriores
5765                        Linux, VMWare, Windows Server
5766     Docker, Google Cloud Platform, Kubernetes, Linux
Name: plataformas_que_utilizas_en_tu_puesto_actual, Length: 5767, dtype: object

In [ ]:
df['frameworksherramientas_y_librerias_que_utilices_en_tu_puesto_actual']

0                                                       -
1                                                React.js
2                  .NET Core, Angular, Bootstrap, Node.js
3                                          Node.js, Spark
4                              Next.js, Node.js, React.js
                              ...
5762                            Ninguno de los anteriores
5763                            Ninguno de los anteriores
5764                                            .NET Core
5765                            Ninguno de los anteriores
5766    Django, Hibernate, Next.js, Node.js, React.js,...
Name: frameworksherramientas_y_librerias_que_utilices_en_tu_puesto_actual, Length: 5767, dtype: object

In [ ]:
df['lenguajes_de_programacion_o_tecnologias_que_utilices_en_tu_puesto_actual']

0                                                 Go, SQL
1                                              Javascript
2                            .NET, Bash/Shell, TypeScript
3                           Java, Javascript, Python, SQL
4                                   CSS, HTML, Javascript
                              ...
5762                            Ninguno de los anteriores
5763                            Ninguno de los anteriores
5764                            Ninguno de los anteriores
5765                            Ninguno de los anteriores
5766    CSS, HTML, Java, Javascript, Python, SQL, Type...
Name: lenguajes_de_programacion_o_tecnologias_que_utilices_en_tu_puesto_actual, Length: 5767, dtype: object

In [ ]:
df['bases_de_datos']

0                                                   MySQL
1                                                   MySQL
2                             Microsoft SQL Server, MySQL
3          Amazon DynamoDB, Amazon RDS/Aurora, PostgreSQL
4                               Ninguna de las anteriores
                              ...
5762    Microsoft Azure (Tables, CosmosDB, SQL, etc), ...
5763                            Ninguna de las anteriores
5764                            Ninguna de las anteriores
5765                                      MySQL, ProxySQL
5766            Google Cloud Storage, MongoDB, PostgreSQL
Name: bases_de_datos, Length: 5767, dtype: object

In [ ]:
df['qa_testing']

0                           Postman
1                     Cypress, Jest
2            Visual Studio Coded UI
3                              Jest
4                              Jest
                   ...
5762      Ninguna de las anteriores
5763      Ninguna de las anteriores
5764      Ninguna de las anteriores
5765                       Selenium
5766    Jest, JUnit, Mocha, Postman
Name: qa_testing, Length: 5767, dtype: object

In [ ]:
frameworks = set()

palabras_a_excluir = {
    ' ', 'todo', 'in-house', 'plant applications', 'deja', 'para', 'ninguno',
    'seleccionar', 'solución', 'librerias', 'adelante', 'ninguna', 'aplica',
    'no', 'se', 'sé', 'programador', 'uso', 'otro', 'otros', 'estoy',
    'privado', 'propio', 'creados', 'sgsgsgsgd', '.net framework 4 en adelante','estoy en design',
    'framework privado de la empresa', 'framework propio','frameworks de go o creados en la compañía', 'frameworks php y javascript in-house', 'ge plant applications. osi pi.',
    'ktor y vertex para kotlin','librerías y frameworks de smalltalk','mi puesto es comercial. vendo un producto desarrollado en la empresa',
    'ninguno de los anteriores', 'ningúna', 'no aplica', 'no aplica al puesto', 'no deja seleccionar react', 'no lo se', 'no lo sé', 'no soy programador', 'no uso',
    'performarce)', 'solución de workflow', 'son boludos? revisen el formulario'
}

# Recorrer la columna y agregar los frameworks/herramientas a la lista
df['frameworksherramientas_y_librerias_que_utilices_en_tu_puesto_actual'].dropna().apply(
    lambda x: frameworks.update(set([item.strip().lower() for item in str(x).split(',')
                                     if len(item.strip()) > 1 and item.strip().lower() not in palabras_a_excluir]))
)

# Convertir el conjunto (set) en una lista y ordenar alfabéticamente
frameworks_lista = sorted(list(frameworks))

# Imprime la lista de elementos únicos en minúsculas, excluyendo opciones de un solo caracter
print(frameworks_lista)

['.net', '.net core', '.net framework', 'actix', 'adf oracle', 'adobe experience manager', 'airflow', 'akka', 'alm', 'android', 'angular', 'angular js', 'angularjs', 'ansible', 'apache camel', 'apache flink', 'apache nifi', 'apex', 'apollo', 'appium', 'asp', 'aura', 'autoc0de(automation mobile', 'bantotal', 'bartender (seagull scientific)', 'bazel', 'blazor', 'bootstrap', 'bouncycastle', 'bumpy', 'cakephp', 'capacitor', 'caret', 'carina', 'catboost', 'cats', 'cdk', 'celery', 'chakra ui', 'chi', 'cocoapods', 'codeigniter', 'cordova', 'cors (automation ia framework e2e)', 'curl', 'cvxpy', 'cypress', 'dapr', 'dbt', 'dbvisualizer', 'decision optimization', 'delta', 'deltalake', 'deno', 'divi builder', 'django', 'docplex', 'drools', 'dropwizard', 'drupal', 'dynamics 365', 'e2e', 'echo', 'eclipse rcp', 'editor notepad++', 'elixir', 'ember', 'erwin', 'esp-idf', 'etc', 'expo', 'express', 'express.js', 'extjs', 'fabric', 'fast api', 'fastapi', 'figma', 'filemaker', 'flask', 'flexmind', 'flutter', 'foundry', 'framework7', 'genexus', 'gin', 'gin gonic', 'gingonic', 'golang', 'grails', 'graphql', 'groovy', 'hadoop', 'hibernate', 'hive', 'huggingface', 'hyperf', 'ibm api connect', 'infor ion', 'ionic', 'janis', 'javalin', 'jd edward', 'jda', 'jdedwards', 'jdeveloper', 'jenkins', 'jet', 'jetpack', 'jetpack compose', 'jira', 'jira software', 'jquery', 'jsf', 'jupyter notebook', 'kendo ui', 'knockout.js', 'knockoutjs', 'ktor', 'laravel', 'liferay', 'lightning salesforce', 'lightning web components', 'lit', 'lwc', 'magento', 'magento 2', 'mat iquall', 'material ui', 'material-ui', 'materialui', 'matplotlib', 'maven', 'micronaut', 'microsoft office', 'mobx', 'moodle', 'mui', 'mulesoft', 'nakama', 'nest', 'nest js', 'nest.js', 'nestjs', 'netbeans', 'next.js', 'node.js', 'numpy', 'nunit', 'nuxt', 'nuxt liquid', 'odoo', 'office', 'okhhtp', 'openai (gpt3)', 'opennlp', 'openwrt', 'optuna', 'oracle', 'oracle ebs', 'osb', 'pandas', 'phoenix', 'phoenix liveview', 'phonix', 'php slim', 'phyton', 'platformio', 'play', 'play framework', 'playwright(e2e)', 'plotly', 'plsql', 'polymer', 'postman', 'powerbi', 'powerbuilder', 'powershell', 'prestashop', 'pycharm', 'pymc', 'pytest', 'pytorch', 'qik developer', 'qlik', 'qt', 'quarkus', 'quarkus (java)', 'quasar (vue)', 'rabbitmq', 'radix ui', 'radix/stitches', 'rails', 'rasa', 'react', 'react native', 'react-native', 'react.js', 'restsharp', 'retrofit', 'ros', 'rpa', 'rxjava', 'salesforce', 'sap', 'sass', 'scikit', 'scikit learn', 'scikit-learn', 'scrapy', 'seaborn', 'seam', 'selenium', 'sencha extjs', 'sentencetransformers (huggingface)', 'sequelize (orm)', 'serena', 'serenity bdd', 'serverless framework', 'servicebus', 'sharepoint', 'shopify', 'single-spa', 'siu-toba', 'sklearn', 'sktime', 'slim', 'slimphp', 'socket.io', 'solid.js', 'soql', 'spacy', 'spark', 'spigot api', 'spring', 'spring boot', 'spyder', 'sql developer', 'sqlalchemy', 'srleniu', 'ssis', 'stencil.js', 'stimulus js', 'stitches', 'strapi', 'styled-components', 'svelte', 'svelte js', 'sveltejs', 'sveltekit', 'swagger', 'swiftui', 'symfony', 'tailwind', 'tailwind css', 'talend', 'tensorflow', 'terraform', 'toad', 'toba', 'toba framework', 'torch', 'tornadoweb', 'tryton', 'twig', 'uikit', 'unity', 'unity 3d', 'unreal engine', 'uvm', 'vb.net', 'vert.x', 'vertx', 'visio', 'visual code / pycharn', 'visual foxpro 9.0', 'visual studio code', 'visualforce', 'vite', 'vowpal wabbit', 'vs code', 'vsc', 'vtex', 'vtex io', 'vue.js', 'vuetify', 'webdriver', 'webflow', 'webflow nocode', 'weblogic', 'webpack', 'wordpress', 'workbench', 'ww+', 'xamarin', 'xamarin forms', 'yii', 'yii2', 'yocto', 'zend', 'zend framework', 'zio']

In [ ]:
lenguajes = set()

palabras_a_excluir = {
    ' ', 'el de la propia empresa','estoy actualmente haciendo un curso de html con css', 'estoy en design','front (integracion de servicios', 'fsdgsdggd',
    'mi puesto es comercial. vendo un producto desarrollado en la empresa','ninguno de los anteriores', 'no aplica al puesto', 'no aplican', 'no soy programador',
    'otro', 'python muy basico', 'venta dev a medida y productos', 'otros', 'sql', 'html', 'css'
}

# Recorrer la columna y agregar los lenguajes/herramientas a la lista
df['lenguajes_de_programacion_o_tecnologias_que_utilices_en_tu_puesto_actual'].dropna().apply(
    lambda x: lenguajes.update(set([item.strip().lower() for item in str(x).split(',')
                                     if len(item.strip()) > 1 and item.strip().lower() not in palabras_a_excluir]))
)

# Convertir el conjunto (set) en una lista y ordenar alfabéticamente
lenguajes_lista = sorted(list(lenguajes))

# Imprime la lista de elementos únicos en minúsculas, excluyendo opciones de un solo caracter
print(lenguajes_lista)

['.net', 'abap', 'advpl', 'android', 'ansible', 'ansuble', 'apex', 'apex salesforce', 'apollographql', 'arduino', 'assembler', 'automation anywhere', 'aws cognito)', 'bash', 'bash/shell', 'basic', 'blue prism', 'blueprint', 'blueprism', 'bolero', 'bpm', 'c#', 'c++', 'c++ y c# visual basic', 'cics', 'clarion', 'clojure', 'cobol', 'control language', 'csv excel', 'dart', 'dax', 'delphi', 'deluge', 'elixir', 'erlang', 'esql', 'figma', 'flask', 'flutter', 'foxpro', 'gdscript', 'genexus', 'geopandas', 'go', 'google appscript', 'goole sql', 'gosu', 'grafana', 'grahql', 'graphql', 'groovy', 'hcl', 'htl', 'ibm integration bus', 'informix 4gl', 'ionic', 'java', 'javascript', 'jcl', 'jquery', 'kotlin', 'liquid', 'lua', 'matlab', 'microsoft excel', 'mongo', 'mongodb', 'mysql', 'natural', 'natural adabas', 'nifi', 'no-sql', 'nodejs', 'nose', 'nosql', 'nrql', 'objective-c', 'oracle', 'oracle developer', 'oracle form', 'oracle forms and apex', 'pandas', 'peoplecode', 'perl', 'php', 'pick  basic', 'pinescript', 'pl', 'pl sql', 'pl/sql', 'plsql', 'porweshell', 'postman', 'power automate', 'power builder', 'power query', 'powerbi', 'powerbuilder', 'powerscript', 'powerscript (powerbuilder)', 'powershell', 'progress', 'ps scripting', 'puppet', 'python', 'qlik', 'qlik scripting', 'react js', 'react native', 'rescript', 'rexx', 'rive apolloclient threejs', 'rpa', 'rpg400', 'ruby', 'rust', 'salesforce', 'sap pi (middleware)', 'sas', 'sas 9.4', 'sas viya', 'scala', 'scss', 'smalltalk', 'solidity', 'soql', 'soql (salesforce)', 'spark', 'spss', 'sql qlik sense', 'sql server', 'ssis', 'stata', 'suitescript', 'svn', 'swift', 'systemverilog', 'tacl', 'tcl', 'terraform', 'todo', 'twig', 'typescript', 'ui5', 'uipath', 'unity', 'unix', 'vb.net', 'vb6', 'vba', 'verilog', 'visual basic', 'visual basic.net', 'visual fox', 'visual fox pro', 'visual foxpro', 'visual foxpro 9.0', 'visualbasicscript', 'windev', 'xamarin', 'xamarin forms', 'xaml', 'xlst', 'xml', 'xpath', 'xquery', 'xslt', 'yaml', 'zoho deluge']

In [ ]:
databases = set()

palabras_a_excluir = {
    ' ', 'api de la companía que interactúa con dbs en aws', 'base de datos nativa de vfp', 'dgsdgsdgdfdfh', 'la propia de salesforce',
    'ninguna de las anteriores', 'no aplica', 'no lo se con seguridad', 'no manejo db en este proyecto', 'no sé', 'no uso',
    'sistema de la empresa (fury)', 'sistema interno de la compañía', 'otro', 'otros'
}

# Recorrer la columna y agregar los databases/herramientas a la lista
df['bases_de_datos'].dropna().apply(
    lambda x: databases.update(set([item.strip().lower() for item in str(x).split(',')
                                     if len(item.strip()) > 1 and item.strip().lower() not in palabras_a_excluir]))
)

# Convertir el conjunto (set) en una lista y ordenar alfabéticamente
databases_lista = sorted(list(databases))

# Imprime la lista de elementos únicos en minúsculas, excluyendo opciones de un solo caracter
print(databases_lista)

['access', 'adabas', 'aerospike', 'airflow', 'algolia', 'amazon dynamodb', 'amazon hbase', 'amazon neptune', 'amazon rds mysql', 'amazon rds/aurora', 'amazon redshift', 'amazon s3', 'ansi sql', 'apache hive', 'apollo', 'arangodb', 'as400', 'athena', 'beam', 'big query', 'big query...', 'bigquery', 'blockchain', 'cassandra', 'clickhouse', 'cloud logging', 'cloud monitoring', 'cloudant', 'cockroachdb', 'composer', 'core data', 'coredata', 'cosmosdb', 'couchbase', 'couchdb', 'databricks', 'dataflow', 'db2', 'dbeavcer', 'dbeaver', 'dbt', 'deltalake', 'dilligent / acl analytics', 'dremio', 'druid', 'dynamo', 'dynamodb', 'elasticsearch', 'elevatedb', 'estoy en design', 'etc)', 'file adabas', 'firebase', 'firebase database', 'firebird', 'firestore', 'foxpro', 'fury', 'fury - kvs', 'gcp big query', 'gemstone', 'gemstone/s', 'genexus', 'google bigquery', 'google cloud storage', 'goolge sql', 'graphql', 'h2', 'hana', 'heidisql', 'ibm db2', 'ignite', 'infinispan', 'influx', 'influxdb', 'informix', 'jackrabbit', 'kafka', 'kdb+', 'ksqldb', 'mariadb', 'mdbx', 'mi puesto es comercial. vendo un producto desarrollado en la empresa', 'microsoft azure (tables', 'microsoft sql server', 'mongodb', 'mysql', 'neo4j', 'netcdf', 'netegia', 'no aplica al puesto', 'oo db', 'oracle', 'oracle apex', 'oracle sql', 'pentaho data integrator', 'percona server', 'percona xtrabackup', 'percona xtradb cluster', 'postgresql', 'presto', 'prisma', 'prometheus', 'proxysql', 'qlik qvd', 'rabbit', 'redis', 'redmine', 'rockset', 'room', 'salesforce', 'sap sql anywhere', 'sas', 'sdb', 'selenium', 'sequel pro', 'sf', 'snowflake', 'snowfñake', 'solr', 'soql', 'sql', 'sql server', 'sqlite', 'squidex', 'sybase', 'synagro', 'teradata', 'toad', 'todo', 'usamos kvs(key value store)', 'vertica']

In [ ]:
qa = set()

palabras_a_excluir = {
    ' ', '--','de eso se encargan los qas', 'desconozco','estoy en design', 'excel y test manuales. horrible',
    'mi puesto es comercial. vendo un producto desarrollado en la empresa','ninguna', 'ningunas', 'ninguno', 'ningúna',
    'no aplica al puesto', 'no aplican', 'no estoy segura', 'no hago testing', 'no se', 'no soy tester', 'no sé 🤷', 'no usamos', 'no usamos testing', 'no utilizo',
    'otro', 'playwright (alternativa a selenium)', 'qatesting manual', 'qmetry en jira','somos re suicidas....',
    'somos una empresa en la que todo se testea mal', 'son boludos? revisen el formulario','test suite in sap solution manager',
    'testing de golang', 'testing library', 'testing manual', 'testing-library', 'todo',
    'tests para los controladores de salesforce (apex/java)', 'otro', 'otros', 'ninguna de las anteriores', 'no uso'
}

# Recorrer la columna y agregar los qa/herramientas a la lista
df['qa_testing'].dropna().apply(
    lambda x: qa.update(set([item.strip().lower() for item in str(x).split(',')
                                     if len(item.strip()) > 1 and item.strip().lower() not in palabras_a_excluir]))
)

# Convertir el conjunto (set) en una lista y ordenar alfabéticamente
qa_lista = sorted(list(qa))

# Imprime la lista de elementos únicos en minúsculas, excluyendo opciones de un solo caracter
print(qa_lista)

['2steps', 'acunetix', 'appium', 'behat', 'browserstack', 'chai', 'cmocka', 'cors(automation ia framework)', 'cucumber', 'cypress', 'detox', 'eclipse', 'eclipse rcptt', 'espresso', 'flutter test libraries', 'foundry', 'gherkins', 'ginkgo', 'go standard library', 'gomega', 'gomock', 'google test', 'great expectations', 'gtest', 'gxtest', 'hp loadrunner', 'hp uft', 'httpie', 'insomnia', 'insomnia rest', 'jasmine', 'jazmine', 'jenkins', 'jest', 'jira', 'jmeter', 'junit', 'k6', 'karate', 'karma', 'katalon', 'lippia', 'locust', 'micro focus application lifecycle management (alm qc)', 'microfocus quality center', 'mocha', 'mockito', 'moq', 'mstest', 'munit', 'nessu', 'nexpose', 'nunit', 'openqa', 'panaya', 'pest', 'pester', 'phpunit', 'pitest', 'playright', 'playwright', 'postman', 'powermock', 'powershell', 'proxy', 'puppeteer', 'pycharm', 'pytest', 'qase', 'qmetry', 'quick & nimble', 'quick and nimble', 'quick y nimble', 'ranorex', 'rapise', 'rcptt', 'rcptt (eclipse)', 'react testing library', 'react testing library y jest', 'redmine', 'reflect', 'rest assured', 'restsharp', 'robolectric', 'robot framework', 'rspec', 'rust', 'salesforce', 'sap solman', 'scalatest', 'selenium', 'serenity bdd', 'sf', 'silktest', 'smalltalk', 'soapui', 'spock', 'spock framework', 'stryker.net', 'swagger', 'telerik studio', 'test complete', 'test rails', 'testify', 'testinfra', 'testng', 'tfs', 'tosca', 'tosca de tricentis', 'truffle', 'unitest', 'unittest', 'unittest (python)', 'unity', 'visual studio coded ui', 'vitest', 'wdio', 'webdriver.io', 'webdriverio', 'xamarin ui', 'xcode', 'xctest', 'xunit', 'zephyr enterprise', 'zephyr scale']

In [ ]:
plataformas = set()

palabras_a_excluir = {
    ' ', '--','.jira service desk .uso de herramienta vnc viewer y remote desktop para conexiones remotas .uso de herramienta advanced host monitor para monitoreo de redes .configuración de impresoras.manejo de active directory',
    '11', 'aadd', 'otro', 'otros', 'arduino o similar','cms propio de la empresa','crm desarollo interno','electrónica','erp de la empresa','jarvis(interno de la empresa)',
    'mmmmm','ninguna de las anteriores', 'no lo se', 'noc','plataforma de la compañía que funciona sobre aws y gcp', 'plataforma propia de la empresa', 'plataformas custom de esta empresa',
    'propia de la empresa', 'propietarios','relacionados a data','se utiliza azure pero yo actualmente no tengo proyecto','software empresarial','soluciones hcis philips',
    'un dashboard de la empresa', 'una plataforma hecha por la propia empresa','zoho one y otras apps de zoho: salesiq','no aplica al puesto','por lo general opensource',
    'ventas productos y servicios'
}

# Recorrer la columna y agregar los qa/herramientas a la lista
df['plataformas_que_utilizas_en_tu_puesto_actual'].dropna().apply(
    lambda x: plataformas.update(set([item.strip().lower() for item in str(x).split(',')
                                     if len(item.strip()) > 1 and item.strip().lower() not in palabras_a_excluir]))
)

# Convertir el conjunto (set) en una lista y ordenar alfabéticamente
plataformas_lista = sorted(list(plataformas))

# Imprime la lista de elementos únicos en minúsculas, excluyendo opciones de un solo caracter
print(plataformas_lista)

['*bsd', 'active directory', 'active directory.', 'ad', 'adf', 'adobe ae / ps / ai / pr - figma', 'adobe cc', 'adobe experience manager', 'adobe suitte', 'aem', 'airflow', 'aix', 'alteryx', 'altium', 'amazon web services', 'amplitude', 'analytics', 'anaplan', 'android', 'android studio', 'angular', 'ansible', 'apache nifi', 'apache tomcat', 'api connect', 'apollo', 'appscript', 'appsflyer', 'argocd', 'aruba', 'as-400', 'as400', 'asana', 'ase sql', 'asterisk', 'atlasian', 'atlassian', 'audiocodes', 'automation anywhere', 'automation anywhere 360', 'avature', 'aws api gateway', 'aws aurora', 'aws codebuild', 'aws glue', 'aws lambda', 'azure', 'azure devops', 'backupexec', 'bases de datos', 'bbva ether platform', 'bdd', 'beamer', 'bi', 'big query', 'bigquery', 'bitbucket', 'bitrise', 'blockchain', 'blue prism', 'blueprism', 'bm', 'bugsnag', 'burp suite', 'burpsuite', 'calipso', 'calypso', 'cambium', 'check point', 'chess nexbin', 'cisco', 'cisco - f5 - fortinet - nsx', 'cisco ccw', 'cisco huawei sdwan datacenter', 'cisco identity services engine (ise)', 'citrix', 'citrix xenserver', 'claris filemaker', 'click up', 'clickup', 'cloud foundry', 'cloudera', 'cloudflare', 'cloudflare y lumu', 'cloudstack; xcp-ng; xenserver; kvm', 'clowdstrike', 'collaboration cisco', 'confluence', 'confluent', 'contentful', 'control-m', 'controlm', 'cpanel', 'crm', 'crystal reports', 'cyberark', 'cyberpanel', 'cypress', 'data studio', 'databricks', 'datadog', 'datastage', 'datastudio', 'db oracle', 'db2400', 'dbeaver', 'desk', 'devops', 'digital ocean', 'digitalocean', 'digitalocen', 'docker', 'drive', 'drive. wordpress. odoo.', 'dv360', 'dynamics', 'dynamics 365', 'dynatrace', 'ebs', 'eclipse platform', 'elastic', 'electroneek studio pro', 'erp', 'erp finnegans', 'estoy en design', 'excel', 'excel y proyect', 'f5', 'figma', 'figma y paquete adobe', 'fiori', 'firebase', 'firewalls', 'flipper', 'flux', 'forgerock', 'fortify', 'fortinet', 'fortinet pfsense', 'framework web', 'freepbx', 'freertos', 'fresh', 'fury', 'gantt', 'gcp', 'genesys', 'genexus', 'geoserver', 'gestión real', 'git', 'github actions', 'gitlab', 'gitlab ci', 'gitlabci', 'google ads', 'google analytics', 'google analytics - tag manager', 'google chat', 'google cloud platform', 'google drive', 'google marketing platform', 'google plx sql', 'google spreadsheets', 'google suite', 'google suite.', 'google workspace', 'grafana', 'grafana loki', 'guidewire', 'hadoop', 'hardware / appliances de networking', 'harvest', 'helm chart. github-actions', 'heroku', 'hive', 'hp-ux', 'huawei', 'huawei cloud', 'hyper-v', 'ias', 'ibm cloud / watson', 'ibm datastage', 'ibm iseries', 'ibs', 'iis', 'impala', 'infor wms', 'informatica cloud', 'informatica powercenter', 'informix', 'infura', 'intellij', 'invgate', 'invoices', 'ios', 'iseries', 'isp', 'istio', 'java', 'javascript', 'jd edward', 'jd edwards', 'jde', 'jenkins', 'jfrog platform', 'jira', 'jira - confluence', 'jira - gitlab - pbx - firewall', 'jira testrail', 'jira trello project confluence office', 'jira/confluence', 'jira: software / service management / work', 'jupyter notebook', 'kafka', 'kal', 'kali linux', 'keycloak', 'kibana', 'kubernetes', 'kvm', 'launch darkly', 'lens', 'linkedin', 'linode', 'linux', 'lmi', 'loan', 'locker studio', 'looker', 'looker studio', 'loopback oracle node react', 'm365', 'mac os', 'magento', 'mainframe', 'management microsoft sql server', 'management studio sql server', 'meet', 'metabase', 'microcontroladores', 'microsoft', 'microsoft 365', 'microsoft biztalk', 'microsoft power apps', 'microsoft power automate', 'microsoft power bi', 'microstrategy', 'microtik', 'mikrotik', 'mikrotik. pfsense', 'miktorik', 'milestone', 'miro', 'mitrol-issabel-elastix', 'mmsm', 'moddle', 'moodle', 'moqups', 'ms 365 admin centers', 'ms dynamics 365', 'ms sql', 'ms sql server', 'msft azure', 'mulesoft', 'mulesoft/anypoint studio', 'mural', 'mysql', 'natural one', 'netapp', 'netegia', 'netsuite', 'nexusiq', 'nginx', 'nifi', 'no aplica al puesto', 'nodered', 'nomad', 'notion', 'nutanix', 'o365', 'oci', 'ocp', 'odoo', 'odoo erp', 'office 365', 'onvio', 'open vpn', 'openshift', 'openstack', 'opnsense', 'optimal', 'oracle', 'oracle apex', 'oracle application', 'oracle bpm', 'oracle cloud', 'oracle cloud (oci).', 'oracle cloud infrastructure', 'oracle database', 'oracle developer', 'oracle ebs', 'oracle fusion cloud', 'oracle sql', 'oracle sql.', 'oracle vm', 'osb (oracle service bus)', 'outlook', 'outssystem cordova', 'pandas', 'papercut', 'pbi', 'peoplesoft', 'pgadmin3', 'pl/sql', 'pl/sql oracle', 'playstrap', 'plc', 'plesk', 'plsql', 'por lo general opensource', 'postman', 'postman bdd', 'power automate', 'power bi', 'power platform', 'powerbi', 'powercenter', 'powermta', 'presea', 'prometheus', 'promox', 'proxmox', 'python', 'qemu', 'qlick', 'qlik sense', 'qlikview', 'qlikview qliksense informix', 'qlim', 'qnx', 'qradar', 'qualys', 'quick power bi', 'rapid7', 'react', 'redes de comunicacion', 'redhat', 'redmin', 'redmine', 'remedy', 'responsys', 'routing', 'rpa', 'rstudio', 'sabre', 'sac', 'saleforce. looker. data studio.', 'salesforce', 'sap', 'sas', 'sas guide', 'sas | looker', 'sayges', 'scada development', 'sccm', 'scip', 'scom', 'scriptcase', 'selenium', 'serverless', 'service manager', 'service now', 'service now - portal check', 'servicenow', 'servicenow. azure devops. ptc thingworx. venafi. grafana.', 'servicenow;jira', 'sfdc', 'sharepoint', 'sharepoint online', 'shopify', 'siemens tia portal', 'sigma', 'slack', 'snow', 'snowflake', 'soapui', 'solaris', 'solarwinds', 'sonarqube', 'spark', 'split', 'splunk', 'splunk datadog rancher lens kubernetes terraform', 'spring', 'spyder', 'sql', 'sql developer', 'sql server', 'sql ssis microstrategy', 'ssas', 'ssis', 'ssms', 'ssrs', 'strapi - aem', 'suite de google analytics', 'suite microsoft', 'suite oracle commerce', 'swaggerhub', 'synapse', 'system center', 'tableau', 'teads', 'teamcenter', 'teams', 'teradata', 'terraform', 'testing tools', 'todo', 'tools infosec', 'traefik', 'trello', 'trello / slack / power bi / tableau / postgresql /pgadmin4', 'trello / teams / office', 'trendmicro', 'truenas', 'ubiquiti', 'uc / seguridad', 'uipath', 'unifi', 'unifi controller', 'unity', 'unreal engine', 'unreal engine 5', 'upwork', 'vagrant', 'vdi', 'veeam', 'veeam backup', 'venia pwa', 'ventas productos y servicios', 'vercel', 'vfp', 'virtual box', 'virtualbox', 'visual studio', 'visual studio code', 'vms', 'vmware', 'vscode', 'vsol', 'vtex', 'winbox', 'windows', 'windows 10', 'windows server', 'wireshark', 'wordpress', 'workday', 'wrike vtex', 'xcode', 'xd', 'xen', 'xen server', 'yiqi', 'zephyr. sql', 'zoho']

# Trabajando con el Dataset

In [ ]:
df.dtypes

estoy_trabajando_en                                                                      object
donde_estas_trabajando                                                                   object
dedicacion                                                                               object
tipo_de_contrato                                                                         object
ultimo_salario_mensual_o_retiro_bruto_en_tu_moneda_local                                float64
ultimo_salario_mensual_o_retiro_neto_en_tu_moneda_local                                  object
pagos_en_dolares                                                                         object
si_tu_sueldo_esta_dolarizado_cual_fue_el_ultimo_valor_del_dolar_que_tomaron              object
pagos_en_criptomonedas                                                                   object
que_porcentaje_o_monto_recibis_en_criptomonedas                                          object
recibis_algun_tipo_de_bono                                                               object
a_que_esta_atado_el_bono                                                                 object
tuviste_actualizaciones_de_tus_ingresos_laborales_durante_2022                           object
de_que_fue_el_ajuste_total_acumulado                                                    float64
en_que_mes_fue_el_ultimo_ajuste                                                          object
como_consideras_que_estan_tus_ingresos_laborales_comparados_con_el_semestre_anterior      int64
con_que_beneficios_contas                                                                object
que_tan_conforme_estas_con_tus_ingresos_laborales                                         int64
estas_buscando_trabajo                                                                   object
trabajo_de                                                                               object
anos_de_experiencia                                                                     float64
antigüedad_en_la_empresa_actual                                                         float64
tiempo_en_el_puesto_actual                                                              float64
cuantas_personas_a_cargo_tenes                                                            int64
plataformas_que_utilizas_en_tu_puesto_actual                                             object
lenguajes_de_programacion_o_tecnologias_que_utilices_en_tu_puesto_actual                 object
frameworksherramientas_y_librerias_que_utilices_en_tu_puesto_actual                      object
bases_de_datos                                                                           object
qa_testing                                                                               object
cantidad_de_personas_en_tu_organizacion                                                  object
modalidad_de_trabajo                                                                     object
si_trabajas_bajo_un_esquema_hibrido_cuantos_dias_a_la_semana_vas_a_la_oficina             int64
la_recomendas_como_un_buen_lugar_para_trabajar                                            int64
salir_o_seguir_contestando                                                               object
maximo_nivel_de_estudios                                                                 object
estado                                                                                   object
carrera                                                                                  object
universidad                                                                              object
participaste_de_algun_boot_camp                                                          object
si_participaste_de_un_boot_campque_carrera_estudiaste                                    object
salir_o_seguir_contestando_sobre_las_guardias                                            object
tenes_guardias                                                                           object
cuanto_cobras_por_guardia                                                               float64
porcentajebruto_o_neto                                                                   object
salir_o_seguir_contestando_sobre_estudios                                                object
tengo_edad                                                                               object
me_identifico_genero                                                                     object
sueldo_dolarizado                                                                          bool
seniority                                                                                object
me_id_extra                                                                              object
dtype: object

Me quedo con la siguiente lista de columnas

In [ ]:
columnas_a_conservar = ['ultimo_salario_mensual_o_retiro_bruto_en_tu_moneda_local',
                        'ultimo_salario_mensual_o_retiro_neto_en_tu_moneda_local','recibis_algun_tipo_de_bono','con_que_beneficios_contas',
                        'trabajo_de','anos_de_experiencia','plataformas_que_utilizas_en_tu_puesto_actual','lenguajes_de_programacion_o_tecnologias_que_utilices_en_tu_puesto_actual',
                        'frameworksherramientas_y_librerias_que_utilices_en_tu_puesto_actual','bases_de_datos','qa_testing','modalidad_de_trabajo',
                        'si_trabajas_bajo_un_esquema_hibrido_cuantos_dias_a_la_semana_vas_a_la_oficina']

In [ ]:
df_modificado = df[columnas_a_conservar].copy()

In [ ]:
df_modificado.rename(columns={
    "ultimo_salario_mensual_o_retiro_bruto_en_tu_moneda_local": "salario_bruto",
    "ultimo_salario_mensual_o_retiro_neto_en_tu_moneda_local" : "salario_neto",
    "recibis_algun_tipo_de_bono": "cobra_bono",
    "con_que_beneficios_contas": "beneficios",
    "anos_de_experiencia":"experiencia",
    "plataformas_que_utilizas_en_tu_puesto_actual":"plataformas",
    "lenguajes_de_programacion_o_tecnologias_que_utilices_en_tu_puesto_actual":"lenguajes",
    "frameworksherramientas_y_librerias_que_utilices_en_tu_puesto_actual":"frameworks",
    "modalidad_de_trabajo":"modalidad",
    "si_trabajas_bajo_un_esquema_hibrido_cuantos_dias_a_la_semana_vas_a_la_oficina":"horas_oficina",
    "bases_de_datos":"databases"
}, inplace=True)

In [ ]:
df_modificado

,salario_bruto,salario_neto,cobra_bono,beneficios,trabajo_de,experiencia,plataformas,lenguajes,frameworks,databases,qa_testing,modalidad,horas_oficina
0,475480.0,396346,Menos de un sueldo,"Capacitaciones y/o cursos, Descuento en gimnas...",Developer,3.0,Docker,"Go, SQL",-,MySQL,Postman,100% remoto,0
1,260000.0,220000,No,"Abono de Internet, Capacitaciones y/o cursos, ...",Developer,2.0,Azure,Javascript,React.js,MySQL,"Cypress, Jest",100% remoto,0
2,106350.0,88560,No,"Capacitaciones y/o cursos, Descuento en gimnas...",Developer,0.0,"Docker, Linux",".NET, Bash/Shell, TypeScript",".NET Core, Angular, Bootstrap, Node.js","Microsoft SQL Server, MySQL",Visual Studio Coded UI,Híbrido (presencial y remoto),1
3,339000.0,283700,Un sueldo,"Abono de Internet, Capacitaciones y/o cursos, ...",Developer,3.0,"Amazon Web Services, Docker, Linux, Serverless","Java, Javascript, Python, SQL","Node.js, Spark","Amazon DynamoDB, Amazon RDS/Aurora, PostgreSQL",Jest,100% remoto,0
4,380000.0,320000,Un sueldo,Descuento en gimnasios / Clases de gimnasia on...,Developer,0.0,Docker,"CSS, HTML, Javascript","Next.js, Node.js, React.js",Ninguna de las anteriores,Jest,100% remoto,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5762,897000.0,540000,De uno a tres sueldos,"Abono de celular, Abono de Internet, Capacitac...",Manager / Director,18.0,"AIX, Azure, Linux, OpenShift, SAP, VMWare, Win...",Ninguno de los anteriores,Ninguno de los anteriores,"Microsoft Azure (Tables, CosmosDB, SQL, etc), ...",Ninguna de las anteriores,100% remoto,0
5763,130000.0,295000,Un sueldo,"Abono de celular, Cuota para universidad / pos...",Technical Leader,17.0,"IBM Cloud / Watson, Linux, Windows Server",Ninguno de los anteriores,Ninguno de los anteriores,Ninguna de las anteriores,Ninguna de las anteriores,100% presencial,0
5764,250000.0,250000,No,Horarios flexibles,Storage / Backup,7.0,Ninguna de las anteriores,Ninguno de los anteriores,.NET Core,Ninguna de las anteriores,Ninguna de las anteriores,Híbrido (presencial y remoto),3
5765,230000.0,160000,No,Horarios flexibles,Networking,4.0,"Linux, VMWare, Windows Server",Ninguno de los anteriores,Ninguno de los anteriores,"MySQL, ProxySQL",Selenium,100% presencial,0
5766,600000.0,515000,De uno a tres sueldos,"Abono de celular, Capacitaciones y/o cursos, V...",Technical Leader,5.0,"Docker, Google Cloud Platform, Kubernetes, Linux","CSS, HTML, Java, Javascript, Python, SQL, Type...","Django, Hibernate, Next.js, Node.js, React.js,...","Google Cloud Storage, MongoDB, PostgreSQL","Jest, JUnit, Mocha, Postman",Híbrido (presencial y remoto),1

Factorizamos las columnas con valores categoricos

Factorización de Modalidad

In [ ]:
# Reemplazar los valores en la columna 'modalidad'
df_modificado['modalidad'] = df_modificado['modalidad'].replace({
    '100% remoto': 0,
    'Híbrido (presencial y remoto)': 1,
    '100% presencial': 2
})

# Verificar los cambios
print(df_modificado['modalidad'].unique())

[0 1 2]

Factorización de cobra_bono

In [ ]:
# Reemplazar los valores en la columna 'cobra_bono'
df_modificado['cobra_bono'] = df_modificado['cobra_bono'].replace({
    'No': 0,
    'Menos de un sueldo': 1,
    'Un sueldo': 2,
    'De uno a tres sueldos': 3,
    '3+ sueldos': 4
})

# Verificar los cambios
print(df_modificado['cobra_bono'].unique())

[1 0 2 4 3]

Factorizacion de trabajo_de

In [ ]:
# Mapeo de los valores específicos de 'trabajo_de'
mapeo_trabajo_de = {
    'Developer': 0,
    'SysAdmin / DevOps / SRE': 1,
    'Technical Leader': 2,
    'QA / Tester': 3,
    'Manager / Director': 4,
    'Project Manager': 4,
    'BI Analyst / Data Analyst': 5,
    'Data Engineer': 5,
    'Data Scientist': 5
}

# Reemplazar los valores mapeados
df_modificado['trabajo_de'] = df_modificado['trabajo_de'].replace(mapeo_trabajo_de)

# Asignar 6 a los valores que no están en el mapeo (que quedaron como strings)
df_modificado['trabajo_de'] = df_modificado['trabajo_de'].apply(lambda x: x if isinstance(x, int) else 6)

# Verificar los cambios
print(df_modificado['trabajo_de'].unique())

[0 6 2 1 5 4 3]

In [ ]:
df_modificado

,salario_bruto,salario_neto,cobra_bono,beneficios,trabajo_de,experiencia,plataformas,lenguajes,frameworks,databases,qa_testing,modalidad,horas_oficina
0,475480.0,396346,1,"Capacitaciones y/o cursos, Descuento en gimnas...",0,3.0,Docker,"Go, SQL",-,MySQL,Postman,0,0
1,260000.0,220000,0,"Abono de Internet, Capacitaciones y/o cursos, ...",0,2.0,Azure,Javascript,React.js,MySQL,"Cypress, Jest",0,0
2,106350.0,88560,0,"Capacitaciones y/o cursos, Descuento en gimnas...",0,0.0,"Docker, Linux",".NET, Bash/Shell, TypeScript",".NET Core, Angular, Bootstrap, Node.js","Microsoft SQL Server, MySQL",Visual Studio Coded UI,1,1
3,339000.0,283700,2,"Abono de Internet, Capacitaciones y/o cursos, ...",0,3.0,"Amazon Web Services, Docker, Linux, Serverless","Java, Javascript, Python, SQL","Node.js, Spark","Amazon DynamoDB, Amazon RDS/Aurora, PostgreSQL",Jest,0,0
4,380000.0,320000,2,Descuento en gimnasios / Clases de gimnasia on...,0,0.0,Docker,"CSS, HTML, Javascript","Next.js, Node.js, React.js",Ninguna de las anteriores,Jest,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5762,897000.0,540000,3,"Abono de celular, Abono de Internet, Capacitac...",4,18.0,"AIX, Azure, Linux, OpenShift, SAP, VMWare, Win...",Ninguno de los anteriores,Ninguno de los anteriores,"Microsoft Azure (Tables, CosmosDB, SQL, etc), ...",Ninguna de las anteriores,0,0
5763,130000.0,295000,2,"Abono de celular, Cuota para universidad / pos...",2,17.0,"IBM Cloud / Watson, Linux, Windows Server",Ninguno de los anteriores,Ninguno de los anteriores,Ninguna de las anteriores,Ninguna de las anteriores,2,0
5764,250000.0,250000,0,Horarios flexibles,6,7.0,Ninguna de las anteriores,Ninguno de los anteriores,.NET Core,Ninguna de las anteriores,Ninguna de las anteriores,1,3
5765,230000.0,160000,0,Horarios flexibles,6,4.0,"Linux, VMWare, Windows Server",Ninguno de los anteriores,Ninguno de los anteriores,"MySQL, ProxySQL",Selenium,2,0
5766,600000.0,515000,3,"Abono de celular, Capacitaciones y/o cursos, V...",2,5.0,"Docker, Google Cloud Platform, Kubernetes, Linux","CSS, HTML, Java, Javascript, Python, SQL, Type...","Django, Hibernate, Next.js, Node.js, React.js,...","Google Cloud Storage, MongoDB, PostgreSQL","Jest, JUnit, Mocha, Postman",1,1

Cuento los valores nulos de cada columna

In [ ]:
# Contar los valores nulos en cada columna
nulos_por_columna = df_modificado.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(nulos_por_columna)

salario_bruto      0
salario_neto     210
cobra_bono         0
beneficios         0
trabajo_de         0
experiencia        0
plataformas        2
lenguajes          0
frameworks         1
databases          1
qa_testing         5
modalidad          0
horas_oficina      0
dtype: int64

Dropeo las filas donde haya nulos en plataformas, frameworks, bases_de_datos y qa_testing ya que son muy pocos registros.

In [ ]:
# Dropear filas donde las columnas especificadas sean nulas
df_modificado = df_modificado.dropna(subset=['plataformas', 'frameworks', 'databases', 'qa_testing'])

# Contar los valores nulos en cada columna
nulos_por_columna = df_modificado.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(nulos_por_columna)

salario_bruto      0
salario_neto     209
cobra_bono         0
beneficios         0
trabajo_de         0
experiencia        0
plataformas        0
lenguajes          0
frameworks         0
databases          0
qa_testing         0
modalidad          0
horas_oficina      0
dtype: int64

Imputo los nulos de salario_neto para reemplazarlos por la media

In [ ]:
# Convertir la columna 'salario_neto' a tipo numérico, forzando errores a NaN
df_modificado['salario_neto'] = pd.to_numeric(df_modificado['salario_neto'], errors='coerce')

# Calcular la media de la columna 'salario_neto' (ignorando nulos)
media_salario_neto = df_modificado['salario_neto'].mean()

# Imputar los valores nulos en la columna 'salario_neto' con la media
df_modificado.loc[:, 'salario_neto'] = df_modificado['salario_neto'].fillna(media_salario_neto)

<ipython-input-113-a873f9942873>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_modificado['salario_neto'] = pd.to_numeric(df_modificado['salario_neto'], errors='coerce')

In [ ]:
# Contar los valores nulos en cada columna
nulos_por_columna = df_modificado.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(nulos_por_columna)

salario_bruto    0
salario_neto     0
cobra_bono       0
beneficios       0
trabajo_de       0
experiencia      0
plataformas      0
lenguajes        0
frameworks       0
databases        0
qa_testing       0
modalidad        0
horas_oficina    0
dtype: int64

In [ ]:
df_modificado

,salario_bruto,salario_neto,cobra_bono,beneficios,trabajo_de,experiencia,plataformas,lenguajes,frameworks,databases,qa_testing,modalidad,horas_oficina
0,475480.0,396346.0,1,"Capacitaciones y/o cursos, Descuento en gimnas...",0,3.0,Docker,"Go, SQL",-,MySQL,Postman,0,0
1,260000.0,220000.0,0,"Abono de Internet, Capacitaciones y/o cursos, ...",0,2.0,Azure,Javascript,React.js,MySQL,"Cypress, Jest",0,0
2,106350.0,88560.0,0,"Capacitaciones y/o cursos, Descuento en gimnas...",0,0.0,"Docker, Linux",".NET, Bash/Shell, TypeScript",".NET Core, Angular, Bootstrap, Node.js","Microsoft SQL Server, MySQL",Visual Studio Coded UI,1,1
3,339000.0,283700.0,2,"Abono de Internet, Capacitaciones y/o cursos, ...",0,3.0,"Amazon Web Services, Docker, Linux, Serverless","Java, Javascript, Python, SQL","Node.js, Spark","Amazon DynamoDB, Amazon RDS/Aurora, PostgreSQL",Jest,0,0
4,380000.0,320000.0,2,Descuento en gimnasios / Clases de gimnasia on...,0,0.0,Docker,"CSS, HTML, Javascript","Next.js, Node.js, React.js",Ninguna de las anteriores,Jest,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5762,897000.0,540000.0,3,"Abono de celular, Abono de Internet, Capacitac...",4,18.0,"AIX, Azure, Linux, OpenShift, SAP, VMWare, Win...",Ninguno de los anteriores,Ninguno de los anteriores,"Microsoft Azure (Tables, CosmosDB, SQL, etc), ...",Ninguna de las anteriores,0,0
5763,130000.0,295000.0,2,"Abono de celular, Cuota para universidad / pos...",2,17.0,"IBM Cloud / Watson, Linux, Windows Server",Ninguno de los anteriores,Ninguno de los anteriores,Ninguna de las anteriores,Ninguna de las anteriores,2,0
5764,250000.0,250000.0,0,Horarios flexibles,6,7.0,Ninguna de las anteriores,Ninguno de los anteriores,.NET Core,Ninguna de las anteriores,Ninguna de las anteriores,1,3
5765,230000.0,160000.0,0,Horarios flexibles,6,4.0,"Linux, VMWare, Windows Server",Ninguno de los anteriores,Ninguno de los anteriores,"MySQL, ProxySQL",Selenium,2,0
5766,600000.0,515000.0,3,"Abono de celular, Capacitaciones y/o cursos, V...",2,5.0,"Docker, Google Cloud Platform, Kubernetes, Linux","CSS, HTML, Java, Javascript, Python, SQL, Type...","Django, Hibernate, Next.js, Node.js, React.js,...","Google Cloud Storage, MongoDB, PostgreSQL","Jest, JUnit, Mocha, Postman",1,1

Obtengo los beneficios más comunes en el listado

In [ ]:
# Lista de beneficios a excluir
excluir_beneficios = {"etc", "ninguna de las anteriores"}

# Concatenar todos los beneficios en una sola lista, excluyendo los que no te interesan
todos_beneficios = df_modificado['beneficios'].dropna().apply(
    lambda x: [beneficio.strip().lower() for beneficio in x.split(',') if beneficio.strip().lower() not in excluir_beneficios]
)

# Flatten la lista de listas a una sola lista
todos_beneficios_flat = [beneficio for sublist in todos_beneficios for beneficio in sublist]

# Contar la frecuencia de cada beneficio
beneficios_contados = Counter(todos_beneficios_flat)

# Imprimir los beneficios más comunes
beneficios_comunes = beneficios_contados.most_common(5)  # Puedes limitar con most_common(n) si solo quieres los más comunes

beneficios_comunes

[('capacitaciones y/o cursos', 3268),
 ('horarios flexibles', 3219),
 ('clases de idiomas', 2244),
 ('vacaciones flexibles (adicionales a las reglamentarias)', 2106),
 ('abono de internet', 2065)]

Analizo frameworks

In [ ]:
# Filtrar los frameworks solo si están en frameworks_lista
todos_frameworks = df_modificado['frameworks'].dropna().apply(
    lambda x: [fw.strip().lower() for fw in x.split(',') if fw.strip().lower() in frameworks_lista]
)

# Flatten la lista de listas a una sola lista
todos_frameworks_flat = [fw for sublist in todos_frameworks for fw in sublist]

# Contar la frecuencia de cada framework
frameworks_contados = Counter(todos_frameworks_flat)

# Obtener los frameworks más comunes
frameworks_comunes = frameworks_contados.most_common(5)

# Imprimir los frameworks más comunes
frameworks_comunes

[('node.js', 1088),
 ('react.js', 1065),
 ('bootstrap', 796),
 ('.net core', 649),
 ('jquery', 620)]

Analizo plataformas

In [ ]:
# Filtrar las plataformas solo si están en plataformas_lista
todas_plataformas = df_modificado['plataformas'].dropna().apply(
    lambda x: [plataforma.strip().lower() for plataforma in x.split(',') if plataforma.strip().lower() in plataformas_lista]
)

# Flatten la lista de listas a una sola lista
todas_plataformas_flat = [plataforma for sublist in todas_plataformas for plataforma in sublist]

# Contar la frecuencia de cada plataforma
plataformas_contadas = Counter(todas_plataformas_flat)

# Obtener las plataformas más comunes
plataformas_comunes = plataformas_contadas.most_common(5)

# Imprimir las plataformas más comunes
plataformas_comunes

[('linux', 2160),
 ('docker', 1972),
 ('amazon web services', 1644),
 ('windows server', 1325),
 ('azure', 1114)]

Analizo lenguajes

In [ ]:
# Filtrar los lenguajes solo si están en lenguajes_lista
todos_lenguajes = df_modificado['lenguajes'].dropna().apply(
    lambda x: [lenguaje.strip().lower() for lenguaje in x.split(',') if lenguaje.strip().lower() in lenguajes_lista]
)

# Flatten la lista de listas a una sola lista
todos_lenguajes_flat = [lenguaje for sublist in todos_lenguajes for lenguaje in sublist]

# Contar la frecuencia de cada lenguaje
lenguajes_contados = Counter(todos_lenguajes_flat)

# Obtener los lenguajes más comunes
lenguajes_comunes = lenguajes_contados.most_common(5)

# Imprimir los lenguajes más comunes
lenguajes_comunes

[('javascript', 2249),
 ('python', 1498),
 ('java', 1055),
 ('typescript', 995),
 ('bash/shell', 868)]

Analizo bases de datos

In [ ]:
# Filtrar las bases de datos solo si están en databases_lista
todas_databases = df_modificado['databases'].dropna().apply(
    lambda x: [db.strip().lower() for db in x.split(',') if db.strip().lower() in databases_lista]
)

# Flatten la lista de listas a una sola lista
todas_databases_flat = [db for sublist in todas_databases for db in sublist]

# Contar la frecuencia de cada base de datos
databases_contadas = Counter(todas_databases_flat)

# Obtener las bases de datos más comunes
databases_comunes = databases_contadas.most_common(5)

# Imprimir las bases de datos más comunes
databases_comunes

[('mysql', 1788),
 ('microsoft sql server', 1569),
 ('postgresql', 1182),
 ('mongodb', 821),
 ('oracle', 698)]

Analizo qa_testing

In [ ]:
# Filtrar los elementos en qa_testing solo si están en qa_lista
todos_qa_testing = df_modificado['qa_testing'].dropna().apply(
    lambda x: [qa.strip().lower() for qa in x.split(',') if qa.strip().lower() in qa_lista]
)

# Flatten la lista de listas a una sola lista
todos_qa_testing_flat = [qa for sublist in todos_qa_testing for qa in sublist]

# Contar la frecuencia de cada elemento en qa_testing
qa_testing_contados = Counter(todos_qa_testing_flat)

# Obtener los elementos más comunes
qa_testing_comunes = qa_testing_contados.most_common(3)

# Imprimir los elementos más comunes en qa_testing
qa_testing_comunes

[('postman', 1134), ('junit', 537), ('jest', 477)]

Vamos a crear una columna para cada uno de los 5 beneficios más comunes entre los candidatos.

In [ ]:
beneficios_comunes

[('capacitaciones y/o cursos', 3268),
 ('horarios flexibles', 3219),
 ('clases de idiomas', 2244),
 ('vacaciones flexibles (adicionales a las reglamentarias)', 2106),
 ('abono de internet', 2065)]

In [ ]:
# Iterar sobre la tupla de beneficios
for beneficio, _ in beneficios_comunes:
    # Crear la nueva columna con el nombre del beneficio
    df_modificado[f'ben_{beneficio.replace(" ", "_").lower()}'] = df_modificado['beneficios'].apply(
        lambda x: 1 if beneficio in str(x).lower() else 0
    )

In [ ]:
# Verificar las nuevas columnas creadas
df_modificado[[f'ben_{beneficio.replace(" ", "_").lower()}' for beneficio, _ in beneficios_comunes]]

,ben_capacitaciones_y/o_cursos,ben_horarios_flexibles,ben_clases_de_idiomas,ben_vacaciones_flexibles_(adicionales_a_las_reglamentarias),ben_abono_de_internet
0,1,1,0,0,0
1,1,1,1,0,1
2,1,1,1,1,0
3,1,1,0,0,1
4,0,0,0,1,0
...,...,...,...,...,...
5762,1,1,0,0,1
5763,0,1,0,0,0
5764,0,1,0,0,0
5765,0,1,0,0,0
5766,1,0,0,1,0

Vamos a hacer lo mismo para los frameworks

In [ ]:
for framework, _ in frameworks_comunes:
    # Crear la nueva columna con el nombre del framework
    df_modificado[f'fw_{framework.replace(" ", "_").lower()}'] = df_modificado['frameworks'].apply(
        lambda x: 1 if framework.lower() in str(x).lower() else 0
    )

In [ ]:
# Verificar las nuevas columnas creadas
df_modificado[[f'fw_{framework.replace(" ", "_").lower()}' for framework, _ in frameworks_comunes]]

      fw_node.js  fw_react.js  fw_bootstrap  fw_.net_core  fw_jquery
0              0            0             0             0          0
1              0            1             0             0          0
2              1            0             1             1          0
3              1            0             0             0          0
4              1            1             0             0          0
...          ...          ...           ...           ...        ...
5762           0            0             0             0          0
5763           0            0             0             0          0
5764           0            0             0             1          0
5765           0            0             0             0          0
5766           1            1             0             0          0

[5760 rows x 5 columns]

Hacemos lo mismo para las plataformas

In [ ]:
# Iterar sobre la lista de plataformas_comunes
for plataforma, _ in plataformas_comunes:
    # Crear la nueva columna con el nombre de la plataforma
    df_modificado[f'plat_{plataforma.replace(" ", "_").lower()}'] = df_modificado['plataformas'].apply(
        lambda x: 1 if plataforma.lower() in str(x).lower() else 0
    )

<ipython-input-125-c4f60f584247>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_modificado[f'plat_{plataforma.replace(" ", "_").lower()}'] = df_modificado['plataformas'].apply(

In [ ]:
df_modificado[[f'plat_{plataforma.replace(" ", "_").lower()}' for plataforma, _ in plataformas_comunes]]

,plat_linux,plat_docker,plat_amazon_web_services,plat_windows_server,plat_azure
0,0,1,0,0,0
1,0,0,0,0,1
2,1,1,0,0,0
3,1,1,1,0,0
4,0,1,0,0,0
...,...,...,...,...,...
5762,1,0,0,1,1
5763,1,0,0,1,0
5764,0,0,0,0,0
5765,1,0,0,1,0
5766,1,1,0,0,0

Repetimos el proceso para los lenguajes

In [ ]:
for lenguaje, _ in lenguajes_comunes:
    # Crear la nueva columna con el nombre del lenguaje
    df_modificado[f'lang_{lenguaje.replace(" ", "_").lower()}'] = df_modificado['lenguajes'].apply(
        lambda x: 1 if lenguaje.lower() in str(x).lower() else 0
    )

In [ ]:
df_modificado[[f'lang_{lenguaje.replace(" ", "_").lower()}' for lenguaje, _ in lenguajes_comunes]]

,lang_javascript,lang_python,lang_java,lang_typescript,lang_bash/shell
0,0,0,0,0,0
1,1,0,1,0,0
2,0,0,0,1,1
3,1,1,1,0,0
4,1,0,1,0,0
...,...,...,...,...,...
5762,0,0,0,0,0
5763,0,0,0,0,0
5764,0,0,0,0,0
5765,0,0,0,0,0
5766,1,1,1,1,0

Repetimos el proceso para las bases de datos

In [ ]:
for database, _ in databases_comunes:
    # Crear la nueva columna con el nombre de la base de datos
    df_modificado[f'db_{database.replace(" ", "_").lower()}'] = df_modificado['databases'].apply(
        lambda x: 1 if database.lower() in str(x).lower() else 0
    )

In [ ]:
df_modificado[[f'db_{database.replace(" ", "_").lower()}' for database, _ in databases_comunes]]

      db_mysql  db_microsoft_sql_server  db_postgresql  db_mongodb  db_oracle
0            1                        0              0           0          0
1            1                        0              0           0          0
2            1                        1              0           0          0
3            0                        0              1           0          0
4            0                        0              0           0          0
...        ...                      ...            ...         ...        ...
5762         0                        1              0           0          1
5763         0                        0              0           0          0
5764         0                        0              0           0          0
5765         1                        0              0           0          0
5766         0                        0              1           1          0

[5760 rows x 5 columns]

Lo hacemos una vez más para Qa testing

In [ ]:
# Iterar sobre la lista de qa_testing_comunes
for herramienta, _ in qa_testing_comunes:
    # Crear la nueva columna con el nombre de la herramienta de QA
    df_modificado[f'qa_{herramienta.replace(" ", "_").lower()}'] = df_modificado['qa_testing'].apply(
        lambda x: 1 if herramienta.lower() in str(x).lower() else 0
    )

In [ ]:
df_modificado[[f'qa_{herramienta.replace(" ", "_").lower()}' for herramienta, _ in qa_testing_comunes]]

      qa_postman  qa_junit  qa_jest
0              1         0        0
1              0         0        1
2              0         0        0
3              0         0        1
4              0         0        1
...          ...       ...      ...
5762           0         0        0
5763           0         0        0
5764           0         0        0
5765           0         0        0
5766           1         1        1

[5760 rows x 3 columns]

Dropeamos las columnas categóricas de mi dataset

In [ ]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['beneficios', 'plataformas', 'lenguajes', 'frameworks', 'databases', 'qa_testing']

# Dropear las columnas del DataFrame
df_modificado.drop(columns=columnas_a_eliminar, inplace=True)

# Verificar las columnas restantes
print(df_modificado.columns)

In [ ]:
df_modificado

,salario_bruto,salario_neto,cobra_bono,trabajo_de,experiencia,modalidad,horas_oficina,ben_capacitaciones_y/o_cursos,ben_horarios_flexibles,ben_clases_de_idiomas,...,lang_typescript,lang_bash/shell,db_mysql,db_microsoft_sql_server,db_postgresql,db_mongodb,db_oracle,qa_postman,qa_junit,qa_jest
0,475480.0,396346.0,1,0,3.0,0,0,1,1,0,...,0,0,1,0,0,0,0,1,0,0
1,260000.0,220000.0,0,0,2.0,0,0,1,1,1,...,0,0,1,0,0,0,0,0,0,1
2,106350.0,88560.0,0,0,0.0,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
3,339000.0,283700.0,2,0,3.0,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,1
4,380000.0,320000.0,2,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5762,897000.0,540000.0,3,4,18.0,0,0,1,1,0,...,0,0,0,1,0,0,1,0,0,0
5763,130000.0,295000.0,2,2,17.0,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5764,250000.0,250000.0,0,6,7.0,1,3,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5765,230000.0,160000.0,0,6,4.0,2,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
5766,600000.0,515000.0,3,2,5.0,1,1,1,0,0,...,1,0,0,0,1,1,0,1,1,1

Aplicamos Regresión Lineal

In [ ]:
X = df_modificado.drop(columns=['salario_bruto', 'salario_neto'])  # Variables predictoras
y_bruto = df_modificado['salario_bruto']  # Variable objetivo 1
y_neto = df_modificado['salario_neto']  # Variable objetivo 2

In [ ]:
# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train_bruto, y_test_bruto = train_test_split(X, y_bruto, test_size=0.2, random_state=42)
X_train, X_test, y_train_neto, y_test_neto = train_test_split(X, y_neto, test_size=0.2, random_state=42)

In [ ]:
# Crear y ajustar el modelo de regresión lineal para salario_bruto
modelo_bruto = LinearRegression()
modelo_bruto.fit(X_train, y_train_bruto)

LinearRegression()

In [ ]:
# Predecir y evaluar el modelo para salario_bruto
y_pred_bruto = modelo_bruto.predict(X_test)
mse_bruto = mean_squared_error(y_test_bruto, y_pred_bruto)
r2_bruto = r2_score(y_test_bruto, y_pred_bruto)

# Mostrar resultados para salario_bruto
print(f'R^2 para salario_bruto: {r2_bruto}')
print(f'MSE para salario_bruto: {mse_bruto}')

R^2 para salario_bruto: 0.23870356885511945
MSE para salario_bruto: 66033605181.32304

In [ ]:
# Crear y ajustar el modelo de regresión lineal para salario_neto
modelo_neto = LinearRegression()
modelo_neto.fit(X_train, y_train_neto)

# Predecir y evaluar el modelo para salario_neto
y_pred_neto = modelo_neto.predict(X_test)
mse_neto = mean_squared_error(y_test_neto, y_pred_neto)
r2_neto = r2_score(y_test_neto, y_pred_neto)

# Mostrar resultados para salario_neto
print(f'R^2 para salario_neto: {r2_neto}')
print(f'MSE para salario_neto: {mse_neto}')

R^2 para salario_neto: 0.05483199954679663
MSE para salario_neto: 233295692980.0949

In [ ]:
# Desactivar la notación científica para mostrar números en formato decimal
pd.set_option('display.float_format', '{:.2f}'.format)

# Crear un DataFrame para mostrar los datos reales y predichos
resultados_comparacion = pd.DataFrame({
    'Valor Real': y_test_neto,
    'Valor Predicho': y_pred_neto
})

# Ajustar para mostrar todas las filas
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
print(resultados_comparacion)

# Restablecer a 10 filas si lo deseas
pd.set_option('display.max_rows', 10)  # Restablecer a 10 filas

      Valor Real  Valor Predicho
4388   139000.00       193513.49
5067   270000.00       319012.57
2191   352601.50       420802.86
4820   330000.00       378593.96
5305   155000.00       175870.26
1104   258000.00       375093.64
2214   318000.00       225817.27
3812   300000.00       296426.93
3528   280000.00       286602.53
5469   295000.00       321227.72
2466   300000.00       483335.52
2368   273000.00       326943.32
4629   442893.00       296217.50
1502  1315880.00       423268.94
132    126000.00       285867.99
1721   270000.00       387424.51
1838   125000.00       297468.43
532     97000.00       250271.89
2600   202500.00       141348.72
157   1220000.00       539618.27
5636   370000.00       264530.04
1847   650000.00       510054.42
177    201000.00       293180.82
4513   281316.00       206569.39
4364   370000.00       374064.03
2615   330000.00       461772.10
1874   214140.00       308060.98
5053   290000.00       300066.54
2913  1200000.00       469914.11
101    320000.00       393857.28
2388   350000.00       348179.25
2754   145775.00       467203.41
3684   120000.00       129651.37
375    400000.00       522736.23
2775   290500.00       547192.54
4262  1028700.00       454990.96
628    225000.00       382460.16
2406   285000.00       458758.16
1949   350000.00       382142.64
5467   300000.00       306218.37
3256   119385.00       146774.21
1226   250000.00       382843.01
3857   289229.00       230682.04
3300   180000.00       210492.24
4404   200000.00       275557.95
1508   260000.00       544239.37
2125   420000.00       265162.20
3559   352601.50       139709.53
2725   480000.00       270726.19
5715   415000.00       410165.19
1275   740000.00       540063.81
3171   206000.00       294797.13
3080   127879.00       268938.69
980    410400.00       349370.63
5502   134000.00       359328.04
1005   283000.00       141715.52
4954   291340.00       441300.69
3563   330000.00       300383.96
5266   280000.00       318079.09
1166   380000.00       287145.64
403    292000.00       317008.91
1748   700000.00       669319.81
4525   198000.00       256165.47
5578   240000.00       371733.27
2596   352601.50       233880.40
4641   230000.00       158231.91
4158   430000.00       588017.84
2226   190000.00       566569.26
3498   254460.00       457511.19
4967   166611.00       285261.25
5350   415000.00       409248.48
3840   543000.00       356504.82
3667   130000.00       329810.48
2709    85000.00       228320.52
3666   135000.00       172696.66
467    150000.00       166977.66
2967   240000.00       585957.14
2201   242800.00       294610.05
4880   352601.50       363869.24
4199   360000.00       452388.77
1147   330000.00       382535.39
5704   900000.00       453507.22
3744   169000.00       282902.56
2558   370000.00       562903.95
4224   750000.00       334334.53
4046   120000.00       343322.68
2684   220000.00       449183.77
4969  1262000.00       436204.43
2845   238000.00       411205.64
1036   248000.00       308637.73
1424   450218.00       365776.24
1923   352601.50       370662.76
753    400000.00       538985.08
3656   232000.00       378665.44
4764  4760000.00       400792.39
1863   420562.00       433922.91
3133   440000.00       368748.68
3310   352601.50       277623.63
3396   352601.50       366855.19
2583   264000.00       445554.48
5339  1600000.00       461391.95
4405   150000.00       277799.18
881    200000.00       381570.89
348    280000.00       288275.86
3172   348000.00       405493.74
1615   352601.50       339398.64
4085  1050000.00       466535.66
5291   178000.00       443864.20
80     250000.00       299344.45
156    350000.00       227101.55
5451   200000.00       266107.12
563    148000.00       324426.75
4210   352601.50       628310.17
3625   280000.00       376001.58
1840   261000.00       118217.54
3165   300000.00       334964.31
2348   107133.00       224597.94
2237   170000.00       370350.53
4703   404000.00       421874.34
3834   530000.00       571795.98
5159   880000.00       370400.27
1436   200000.00       257674.27
4530   287000.00       401416.82
5495   415000.00       468439.29
3454   276000.00       465598.05
4473   307000.00       471365.24
5243   190000.00       292037.12
3643   220000.00       180938.58
4600   128000.00       193161.72
2648    85000.00       265379.60
259    265000.00       429088.68
2792   400000.00       348046.08
4393   113000.00       314159.09
5321   330000.00       224246.83
678    144000.00       330365.53
3125   336964.00       425660.18
3894   399529.00       307047.27
2142   420000.00       276541.11
2513   350000.00       392003.31
3370   430000.00       472093.39
1451   310000.00       334030.22
2682   599000.00       448364.50
5655    55000.00       256965.17
540    550000.00       259735.39
5366   180000.00       122911.98
325     74700.00       259543.12
586     97000.00       260889.95
1750   235000.00       736702.16
167    215000.00       211877.25
14     161400.00       258696.48
4288   157000.00       183593.14
1723   360061.00       436072.22
1261   188000.00       363580.15
1687   180000.00       399828.96
1023   150000.00       351976.19
1653   400000.00       461790.50
1825   426000.00       387550.59
2646   480000.00       398858.20
168   1650000.00       446737.49
1348      360.00       456704.45
4910   870000.00       428282.12
3131   185000.00       464577.69
4132  1200000.00       444729.87
2441   185000.00       320167.92
2575  1155000.00       373704.75
5629   328000.00       460092.41
929    240000.00       316615.40
5377   185000.00       259772.80
1409  1720000.00       412444.98
3139   620000.00       543482.45
3860   214000.00       200432.46
626    284000.00       348661.78
79    1000000.00       542848.09
2896   250000.00       292660.27
4777   220000.00       329795.96
239    260000.00       392864.20
3011   211000.00       138264.94
5402   200000.00       316467.73
221    160000.00       210324.87
5314   400000.00       278562.64
3959   140000.00       290197.27
749    130000.00       157956.33
1058   186000.00       404813.66
3146   278000.00       182727.32
789    340000.00       276908.54
4249   882050.00       541815.57
5160   166000.00       315617.44
4118   128131.00       189984.19
1633   352601.50       381646.60
4323   146000.00       131029.05
3290   381000.00       279434.16
4691   150000.00       238635.21
1333   194789.00       319638.80
199    512000.00       442204.59
1089   200000.00       264509.27
1050   271038.00       294611.85
2333   152000.00       180287.62
1930   110000.00       469950.96
2948   450000.00       463330.10
181    100000.00       228949.40
395    340000.00       317253.77
1227   300000.00       340074.56
4626   275000.00       474026.03
508    350000.00       323160.02
2354   146000.00       365344.86
997    210000.00       419431.04
4127   290000.00       162656.55
707    275000.00       346771.91
3969   805000.00       407541.30
4410   270000.00       228411.07
5726   247800.00       423357.11
4637   914000.00       426329.21
5319   160000.00       447760.19
3027   360000.00       285097.01
23     281000.00       327852.12
4106   420581.00       382973.25
4922   300000.00       401849.01
1905   400000.00       283137.55
4705   150000.00       408847.21
5716   150000.00       227392.08
5086   350000.00       355937.26
3260   322000.00       338211.32
5327   352601.50       444027.47
1441   175000.00       300465.52
588    900000.00       466852.38
3575   162948.00       250739.68
5735   215000.00       260297.18
2391   278641.00       284553.87
2574   512000.00       409063.36
5497   380000.00       496603.79
1256   219000.00       435431.66
2230   139000.00       135078.36
3712   352601.50       389270.88
5719   270000.00       238059.45
1439   246000.00       320658.83
714    318000.00       341232.61
4406   300000.00       342279.31
2650   230681.00       299007.52
3382   280000.00       381983.01
1215   212795.79       248183.43
1603   185000.00       284879.55
5295   250000.00       129801.86
3569   480000.00       508043.93
15      76000.00       302894.76
2922   320000.00       250826.26
5667   352601.50       228167.88
5361   222000.00       483863.78
2912   330000.00       393488.82
750    150000.00        83851.85
5018   270000.00       347998.54
555    304000.00       450361.93
4240   395000.00       342158.13
5118   312277.00       194210.08
591    352601.50       458457.34
65     230000.00       471633.36
3954   230000.00       231629.70
4162   300000.00       343857.67
4627   224000.00       231850.46
1076    85000.00       183369.51
546    460000.00       506065.49
3808   340000.00       390605.66
4663   220000.00       338361.29
1657   140302.00       260491.78
5205 14000000.00       485780.17
3513   352601.50       390884.04
4253   294342.00       443651.87
656    627000.00       440311.26
4468   100015.00       303757.60
1564   346000.00       454017.96
4664   179000.00       319902.88
2710   238000.00       542520.44
1561   740000.00       472177.55
5388    64000.00       281971.61
8      800000.00       473719.35
3069   435000.00       432137.04
4518   264760.00       251501.32
5576   144931.00        95759.23
3199   352601.50       343645.55
1471    70000.00       212366.39
230    209000.00       231236.59
2118   345000.00       325245.98
410    423000.00       589897.36
4830    25400.00       335025.40
326    500000.00       329200.16
33     150000.00       409397.55
1542   370000.00       412322.47
2855   218000.00       163487.21
999    255000.00       327516.87
1548   300000.00       272282.27
810    350000.00       329685.07
4818   255000.00       215538.65
3538   272366.00       158100.44
3404   590000.00       338439.38
3716   185859.00       541448.40
4355   300000.00       323346.89
4380   500000.00       243649.27
4732   290000.00       255425.93
2642   196000.00       287107.96
4617   220000.00       293023.13
5698   460000.00       425677.61
3980   330000.00       295343.22
2654   315000.00       263611.34
4220   193000.00       289682.33
4293   770000.00       482203.42
683    295000.00       353894.73
2424   320000.00       321880.83
2325   194500.00       342071.97
5499   150000.00       158366.25
2177   352601.50       280613.20
2796   410000.00       384462.62
2006   255742.00       402588.43
1097   395000.00       373240.77
5082  1200000.00       598762.13
1326   170400.00       526145.23
5734   282200.00       277622.57
320    152000.00       444979.43
3473   256655.00       383063.42
1047   180000.00       206133.57
685       150.00       507910.16
3294   128000.00       297610.60
1675   280000.00       336334.27
2750   330000.00       355149.96
2033   230000.00       398789.88
1583   240000.00       271063.43
2507   500000.00       280544.18
4563   270000.00       101330.45
3546    30000.00       289678.27
5281   190000.00       325124.26
2146   350000.00       306681.20
3690   120000.00       445547.43
2552   425000.00       409081.50
3340   303607.00       527646.83
1338   264000.00       263692.04
899    400000.00       445635.58
5162   209000.00       241565.12
1879   224000.00       260636.12
4407   270000.00       364947.42
5602   370000.00       219007.59
3983    69000.00       348039.28
1124   320000.00       532081.71
3839   485412.00       498910.26
657    500000.00       373362.05
1529   354989.00       448631.64
5213   260843.00       376812.91
1773   310000.00       440307.38
1560   737000.00       491962.22
4895   224000.00       190196.34
240    300000.00       399344.43
2526   143000.00       390425.58
1132   284000.00       363521.55
1191  1360000.00       576023.62
298    270000.00       323159.14
2803   143000.00       111870.42
3615   214000.00       395081.89
1565   160000.00       257822.27
2519   271439.00       452694.71
1589   670000.00       319525.47
1958   650000.00       585418.86
412       312.00       340062.21
84     414000.00       419867.40
1882   207900.00       241550.81
4836   515000.00       371200.84
4833  1200000.00       523529.92
1223   320000.00       472377.13
1731   300000.00       350071.55
1247   100000.00       195125.10
3273   211000.00       389871.30
334    700000.00       323197.68
5359   210000.00       150208.89
1196   630000.00       303126.77
757    457000.00       696149.70
2784   189000.00       120793.23
2231   481500.00       335322.95
1867   300000.00       281180.53
2580   340000.00       323067.99
5677   203000.00       380161.15
247    334000.00       450873.16
1042   357432.00       419763.07
3472   345500.00       549403.32
5091    17500.00       227371.81
4841   225000.00       262671.09
3618   402000.00       701828.58
373    265000.00       262435.23
4614   410000.00       480250.48
2128   220000.00       334216.67
2880   145000.00       254953.31
3130    80000.00       270530.23
2355   175000.00       196193.99
428    127000.00        72685.79
3501   350000.00       475801.85
4442   277233.00       345431.32
5624   360000.00       464033.48
5615   230000.00       459619.43
5574   300000.00       398831.69
3018   270000.00       433147.19
2373   280000.00       448951.75
5383   280000.00       320533.59
1271   395000.00       360389.60
813    485000.00       441258.51
316    203350.00       183311.16
883    460000.00       301662.34
1234   522732.00       331274.70
5404   260000.00       327668.95
2619   202000.00       225997.78
2076   237014.00       323143.08
4676   320000.00       222726.49
149    149000.00       295211.53
5623   280000.00       340693.52
4376   185000.00       263424.93
291    900000.00       473755.60
4205   100000.00       404201.46
5037   300000.00       494783.49
297     90000.00       153255.14
1660   198750.00       302901.57
5450    80000.00       209719.49
4607   382183.00       421900.82
1322   270000.00       313074.33
5247   224050.00       458715.57
5441   160000.00       177852.50
624    170000.00       417799.02
3632   200000.00       174843.05
3558   327000.00       364126.29
3505   240000.00       686569.78
601    180000.00       185114.57
1785   352601.50       348750.24
4961   180000.00       176856.80
1621   217000.00       455409.42
3158   390000.00       354481.00
5723   260000.00       298581.60
613    173199.00       421677.11
1413   330000.00       248029.85
3532   160000.00       143943.33
3519   447600.00       503734.85
891    475000.00       328493.22
503    900000.00       543604.88
5642   215000.00       232071.59
5579   700000.00       329397.79
1025   470000.00       372771.46
4886  2300000.00       435314.79
5311   211650.00       409500.27
1100   750000.00       355639.33
441     90000.00       428876.39
2691  1050000.00       383926.74
1428   917000.00       425217.02
1501   380000.00       387824.02
3392   254000.00       249134.30
383   1100000.00       495729.78
1354   395765.00       407465.85
4998   120000.00       190036.86
536     51500.00       643898.46
424    400000.00       381859.19
3311   295000.00       511505.92
3801    76000.00       354019.02
578    161000.00       215498.12
2416   180000.00       393131.91
3875   187847.00       407844.77
3212   368000.00       455535.65
3797   300000.00       342393.36
3584   250000.00       268871.21
2185    33000.00       382287.83
2035   350000.00       387332.60
102    502673.00       484074.78
5580   352601.50       173226.55
600    430884.00       435430.87
5216   352601.50       342646.88
2613   192000.00       225900.98
1945   463107.00       382921.89
44     352601.50       271953.03
2807   307500.00       554599.65
3353   250526.00       238849.33
2687   120000.00       334475.90
1938   205000.00       200142.64
279    240000.00       197037.18
135    352601.50       464477.06
5498    70000.00       369384.73
2850   395361.00       311970.66
3721   500000.00       394254.29
4070   305076.00       289454.00
5609    22000.00       246826.27
353    157000.00       426578.51
5190   365000.00       246455.96
4754   327020.00       303623.35
1970   238000.00       420280.23
5348   110000.00       295309.86
765    270000.00       150905.22
3446   100000.00       357147.97
2539   720000.00       508137.59
1041   454000.00       409943.47
3129   207000.00       358165.87
1941   450000.00       374682.63
4105   256000.00       355271.65
2816    98700.00       212480.68
3213   340000.00       570206.48
5257    62000.00       162006.43
1876  1500000.00       492606.94
4056   182118.00       382911.97
5022   240000.00       308755.91
5420   226000.00       366530.00
455    180000.00       391155.81
2907   240000.00       322340.87
3390   260000.00       365644.54
1218   295988.00       298922.53
5238   340000.00       318122.62
3653   268132.00       187843.69
4238   195000.00       211349.52
1324   143000.00       241481.03
2598   490401.00       646819.61
910    190000.00       230951.19
4087   405000.00       242307.41
3218   212000.00       285769.11
3324   550000.00       276284.84
4082   310000.00       218400.91
2894   550000.00       532105.98
3093   241000.00       313612.79
121    176000.00       407155.41
4550   501000.00       387502.41
2811   243000.00       316615.40
420    374400.00       274616.41
4579   100000.00       325217.76
1093   145785.00       310667.66
3862   340000.00       387147.15
5302   470000.00       479475.56
867    200000.00       176996.42
1557   600000.00       431582.33
248    295000.00       355262.81
796    380000.00       608331.16
3723   168000.00       174202.62
449    323000.00       422681.47
4428    80000.00       189711.77
5641   320000.00       430322.17
2091   165000.00       314075.01
3524   650000.00       577613.89
1875   319000.00       323013.05
895    270000.00       530513.64
4399   270000.00       435653.73
1305   455000.00       464061.65
416     63000.00       215259.59
1747   260000.00       439375.14
3869   240000.00       218474.63
1969   280000.00       251940.84
2769   540000.00       605773.38
2295   199200.00       330631.67
3120   217000.00       412453.74
4265   546000.00       446473.67
2976   175000.00       187666.75
1702   298744.00       297030.05
2674   280000.00       278514.31
1422   340881.00       330618.58
1290   650000.00       353970.94
2022   390000.00       397449.19
1602   277000.00       415745.79
1598   400000.00       306285.72
208    315000.00       289023.48
1382   260000.00       309146.52
3592   128380.00       315070.80
427    326000.00       590468.72
955    160000.00       300165.18
5439   830000.00       303033.99
5115   200000.00       160135.23
2881   300000.00       566425.89
1179   392000.00       390303.28
5668   170000.00       270226.93
4165   600000.00       533849.44
972    352601.50       290960.89
3485  1633999.00       262098.71
2384   280000.00       381699.93
3884   390000.00       503545.96
1706   400800.00       598504.98
439    170000.00       331852.87
4123   165000.00       264003.71
107    352601.50       252520.77
29     400000.00       362863.74
1035   187000.00       350326.26
3264   218000.00       220139.00
1178   865000.00       498664.02
5274   302346.00       272264.70
4891   260000.00       410917.73
3562   650000.00       396161.79
3921   740000.00       650097.92
2525   186750.00       233616.32
4280   350000.00       447117.23
2046   380000.00       351210.47
802    207000.00       272978.80
5358   248000.00       191559.11
5049    70000.00       343068.87
1090   230000.00       420493.00
3210    90000.00       102638.83
3619   450000.00       398806.72
1732   160000.00       560314.04
967    324000.00       234857.31
1098   330000.00       186777.06
2090   100000.00       368286.91
2847  1500000.00       563106.68
4582   287004.00       374117.86
1131   300000.00       308923.12
90     523000.00       286017.46
1816   489680.71       365473.16
5211   510000.00       275191.16
2681   300000.00       322606.65
914    266000.00       424352.21
69     190000.00       407433.42
4033   140000.00       493069.44
4229   285000.00       399898.18
1415   380000.00       419572.38
748    352601.50       298617.78